{% extends 'aplicacion/base.html' %}
{% load static %}


{% block cabecera %}
Cursos de la Comision {{ comision }}
{% endblock cabecera %}
    

{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CURSO</th>
                <th>COMISION</th>
                <th>NOMBRE DEL ALUMNO INSCRITO</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
        <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.comision }}</td>
                <td>{{ curso.nombreAlumno }}</td>
        </tr>
        {% endfor %}
_        </tbody>
    </table>
{% endblock contenido %}